[2016-03-30 16:42] peterasujan opened #1 "Dylan broke everything"
- [x] Fix it
- [x] write tests

[2016-03-30 16:47] peterasujan opened #2 "Shamindra broke everything"
while fixing #1, @shamindras broke things even more.

[2016-03-30 16:53] dylandaniels commented on #2
@shamindras :rage: :interrobang:

[2016-03-30 16:56] dylandaniels commented on #2
@shamindras. I've updated your tasks :mask:

- [ ] fix the stuff you broke
- [ ] make it better
- [ ] come to my show on Friday
- [ ] buy my lunch

[2016-03-30 16:57] dylandaniels commented on #2
@shamindras. I haven't heard back from you about #2. @peterasujan have you heard from @shamindras?

[2016-03-30 16:57] dylandaniels commented on #2
@shamindras please ack back ASAP

[2016-03-30 16:59] shamindras commented on #2
Thanks @dylandaniels - it's great having more tasks added to my day :)!

I have 'fixed' the 'broken' 'stuff' now.

I bought us lunch and put it on your tab. Thanks

[2016-03-30 17:17] peterasujan opened #4 "Set up infrastructure"
#### Infrastructure pieces needed:
- [ ] Linting (how about [this](https://pylint.org) @jarrodmillman ?)
- [ ] ***CONTRIBUTOR.md***
  - This may need to point to more detailed files in doc/dev/
  - Style guide
- [ ] Travis CI
- [ ] Coverage
- [ ] Sphinx

#### Python
- [ ] Data loader

#### Assorted todo's
- [x] Close fake issues #1 and #2

[2016-03-30 17:20] peterasujan commented on #1
I fixed this.

[2016-03-30 17:20] #1 closed

[2016-03-30 17:22] shamindras commented on #2
This is now fixed.

[2016-03-30 17:22] #2 closed

[2016-03-30 17:23] shamindras commented on #4
Issues #1 and #2 are now fixed.

[2016-03-30 17:43] lynnzhao92 opened #5 "Set up Infrastructure"
## First Week Infrastructure Set up
- [ ] Create CONTRIBUTOR.md and include: (doc/develop/..)
     - how to make pull request
     - how to make issues, report bugs
     - dependencies (should specify in setup.py / requirements.txt)
- [ ] Understand and create a recipe of pull request work flow
- [ ] Data Loader
    - actually try all the loading, use *mousestyles/mousestyles/data/__init__.py*

[2016-03-30 17:43] jcpalumbo3 commented on #4
THIS IS NOT REAL

[2016-03-30 17:44] alannaiverson commented on #5
Good start on a CONTRIBUTOR.md file [here](https://github.com/statlab/permute/blob/master/CONTRIBUTE.rst)!

[2016-03-30 17:45] boyinggong opened #6 "Overview of Project 4: Ultradian Analyses"
- Daily cycle
- Grouped by species (strains) or other basic characteristics of mouses
- [ ] What basic characteristics do we have?
- Variables of interest: AS/IS, Drinking/Feeding/Locomotion

[2016-03-30 17:47] changsiyao opened #7 "Overview of Project 2: Exploration & Path Diversity"
**Exploration & Path Diversity**

What's the different moving patterns for each mouse strain?

[2016-03-30 17:48] CenzhuoYao opened #8 "Overview of Project 1: Behavior Model"
## Todo List
- [x] Add in description of AS and IS
- [x] Include slides from Chris

## Week 1
###  Assignment
For Monday, your task is to produce a 1 page summary here:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/behavior.md

Your goal is to understand the problem.  You are welcome to look at the code, but you shouldn't be working with code at this point.  You also prob

[2016-03-30 17:48] #4 closed

[2016-03-30 17:50] lizhua opened #9 "Overview: Project 3: Dynamics of AS Patterns"
# Project 3: Dynamics of AS Patterns
- [x] purpose
- [x] key questions
- [x] explanatory questions
- [x] data collection
- [x] initial tasks

[2016-03-30 17:54] pigriver123 commented on #6
Figure out what is in Active State and what is in Inactive State

[2016-03-30 17:55] hduongtrong opened #10 "Overview Project 5: Application of Clustering Algorithms"
This should come later.  For now the aim is to understand the fundamental problem.  In this case, the fundamental problem is something about mice, genes, and behavior.  So the text should give the background on mice, genes, and behavior.  See below for more details.

[2016-03-30 17:56] pigriver123 commented on #6
Figure out what is the different of the daily pattern among different strains

[2016-03-30 17:57] pigriver123 commented on #6
Figure out what are the difference of the daily pattern among different strains

[2016-03-30 18:02] HaoLyuKrystal opened #11 "Overview of Project 6: Power Laws & Universality"
## Describe Background Information Of Power Law

-

[2016-03-30 19:12] HongfeiZhao opened #12 "Overview of Overview"
- [x] Read Overview
- [x] Come up summaries

[2016-03-30 19:37] jarrodmillman commented on #10
For Monday, your task is to produce a 1 page summary here:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/classification.md

Your goal is to understand the problem.  You are welcome to look at the code, but you shouldn't be working with code at this point.  You also probably don't want to focus on the algorithms yet either.

If this isn't clear, please reread the project a

[2016-03-30 19:39] jarrodmillman commented on #12
For Monday, your task is to produce a 1 page summary here:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/overview.md

Your goal is to understand the problem.  You are welcome to look at the code, but you shouldn't be working with code at this point.  You also probably don't want to focus on the algorithms yet either.

If this isn't clear, please reread the project assignm

[2016-03-30 19:40] jarrodmillman commented on #11
For Monday, your task is to produce a 1 page summary here:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/distribution.md

Your goal is to understand the problem.  You are welcome to look at the code, but you shouldn't be working with code at this point.  You also probably don't want to focus on the algorithms yet either.

If this isn't clear, please reread the project ass

[2016-03-30 19:41] jarrodmillman commented on #9
For Monday, your task is to produce a 1 page summary here:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/dynamics.md

Your goal is to understand the problem. You are welcome to look at the code, but you shouldn't be working with code at this point. You also probably don't want to focus on the algorithms yet either.

If this isn't clear, please reread the project assignmen

[2016-03-30 19:41] jarrodmillman commented on #7
For Monday, your task is to produce a 1 page summary here:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/path.md

Your goal is to understand the problem. You are welcome to look at the code, but you shouldn't be working with code at this point. You also probably don't want to focus on the algorithms yet either.

If this isn't clear, please reread the project assignment:
h

[2016-03-30 19:42] jarrodmillman commented on #6
For Monday, your task is to produce a 1 page summary here:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/ultradian.md

Your goal is to understand the problem. You are welcome to look at the code, but you shouldn't be working with code at this point. You also probably don't want to focus on the algorithms yet either.

If this isn't clear, please reread the project assignme

[2016-03-30 19:51] lizhua commented on #9
Hi Jarrod,

I just want to make sure the git workflow. When we edit the md file, are we supposed to git clone, pull, edit and push? Or we need to fork and create a pull request for the md file?
@jarrodmillman

[2016-03-30 20:26] changsiyao commented on #7
@pttzty @MengfeiJiang

[2016-04-01 17:16] peterasujan opened #14 "GITFLOW: Create CONTRIBUTOR.md and include: (doc/develop/..)"
- [x] how to make pull request
- [x] how to make issues, report bugs
- [ ] dependencies (should specify in setup.py / requirements.txt)
- [x] set up multiple remotes (i.e. upstream and origin)
- [x] pull new updates
- [x] checkout to a feature branch
- [x] stage and commit files

[2016-04-01 17:17] peterasujan opened #15 "Understand and create a recipe of pull request work flow"
It would be nice to include general git workflow advice here too. This could include a brief overview of how to:
- set up multiple remotes (i.e. upstream and origin)
- pull new updates
- checkout to a feature branch
- stage and commit files

I have a section I'd like to add on how to set up a pre-commit hook for running tests and style checks.

[2016-04-01 17:17] peterasujan opened #16 "Data Loader"
- [x] actually try all the loading, use *mousestyles/mousestyles/data/__init__.py*
- [ ] Consult HTM_begin_script: check [this](https://www.msri.org/people/members/chillar/files/BY), change codes to functions

[2016-04-01 17:18] peterasujan opened #17 "DOCFLOW: Create the Checklist Documentation to tell what code should have"
- [x] Tests (this is a separate document... TESTFLOW.md) #28
- [x] Docstrings
- [x] Style Guides (package pep8 automatically check style errors), verb named function, Python2/3 Compatibility, Auto Check Doc. Standard are followed @sicihuang @jcpalumbo3

[2016-04-01 17:19] peterasujan opened #18 "Clean the repository to have separate Data, Analysis and Plot files"

[2016-04-01 17:21] peterasujan opened #19 "CI-FLOW: Travis CI / Coverage, setup.py (Week 2)"
- [ ] set the license, description, etc. variables in setup.py **moved to #56**
-  [x] CI / Coverage: quick fix, talk to jarrod @jarrodmillman
    - http://docs.astropy.org/en/stable/development/testguide.html
    - http://pytest.org/latest/goodpractices.html#goodpractices
    - "goodpractices" says "avoid `__init__.py` files in your test directories.", but astropy is doing just that
    - "goodpr

[2016-04-01 17:21] peterasujan opened #20 "DOCFLOW: Sphinx (Week2)"
See https://github.com/statlab/permute for examples

[2016-04-01 17:22] peterasujan commented on #5
Closing in favor of separate issues. See [infrastructure tag](https://github.com/berkeley-stat222/mousestyles/labels/infrastructure).

[2016-04-01 17:22] #5 closed

[2016-04-01 21:46] peterasujan commented on #17
If we want to use the pep8 package for style checking, there's a kind of "super package" called [flake8](https://pypi.python.org/pypi/flake8) that runs both pep8 and pyflakes (a linter).

[2016-04-01 23:37] aksam-ahmad commented on #19
#21 and #22 - Add test and coverage

[2016-04-03 18:22] shamindras opened #26 "CHATFLOW: Set up Gitter (group chat) for mousestyles"
@jarrodmillman - could you please:

- [ ] set up a [gitter](https://gitter.im) chat for our [repo](https://github.com/berkeley-stat222/mousestyles)

This way everyone can communicate in real time. Gitter is fantastic for discussions and productivity from personal experience on past projects :100: .

[2016-04-03 19:15] peterasujan commented on #26
One issue I noticed about using gitter - it seems that it only allows up to 25 people in (free tier) private chat rooms. So, we'd have to be willing to keep the chat public.

[2016-04-03 19:29] shamindras commented on #26
This is a good point @peterasujan .

But I feel it is not an issue in this case as [mousestyles](https://github.com/berkeley-stat222/mousestyles) is a *public* repo. So future contributors can join the gitter discussion and still have the history.

Everyone will make sure the discussion is appropriate for the forum and we can flag this on Wednesday.

What do you think?

[2016-04-03 21:25] z357412526 commented on #8
@jarrodmillman @jcyhong It is saying that I do not have writing access when I try to merge something in my team. Attached is the screenshot. Could you please take a look at that?

<img width="850" alt="screen shot 2016-04-03 at 2 22 15 pm" src="https://cloud.githubusercontent.com/assets/14003168/14235037/bc206512-f9a7-11e5-8bf2-964f7507bc79.png">

[2016-04-03 22:05] jarrodmillman commented on #9
For this week, it is OK if you get the text submitted using whatever means you can.  If you are already familiar with pull requests, that would be my preference.  On Wednesday, some of your classmates will have prepared some more detailed instructions on how the pull request workflow will work going forward.

[2016-04-03 22:08] jarrodmillman commented on #26
I tend to prefer to keep everything public.  And when working in private, I try to behave like I am still working in public.  It is a good practice to make sure everyone knows what they are doing is publicly visible and having some discussion about what is appropriate is a good idea.

[2016-04-03 22:13] jarrodmillman commented on #8
If you can come to class 5min early on Monday, I can help you with this.  I will want you to rebase on master first.  If you aren't sure how to do that, I can quickly walk you through it before class starts.

[2016-04-04 02:08] dylandaniels commented on #16
What's the deliverable on this exactly? Are we trying to write some functions to put these into nice Panda dataframes?

[2016-04-04 06:01] dylandaniels commented on #15
Here's a good article on this I just read to refresh my knowledge:

https://www.atlassian.com/git/tutorials/comparing-workflows/forking-workflow

[2016-04-04 16:48] peterasujan commented on #12
Some notes from class discussion (not super comprehensive):
- discuss reasons for **computational** ethology
- Mention home cage monitoring
- Glossary?
- Why is this relevant to statisticians? (populations, sampling, where does the _randomness_ come from?)

[2016-04-04 16:56] peterasujan commented on #8
Comments from class:
- How do we define active and inactive state? Make sure the data is sensible (might want to make a few plots).
- See other paper describing home cage monitoring system (mentioned in assignment pdf).

[2016-04-04 16:59] shamindras commented on #26
@jarrodmillman - thanks. As discussed, if you could please just send me a list of all of the github usernames of our entire project team - I can create the gitter chatroom.

Feel free to paste the names in a reply comment here.

Thanks

[2016-04-04 17:09] shamindras commented on #15
great points @dylandaniels and @peterasujan :+1:

This is being covered in #14 in the CONTRIBUTING.rst documentation. As such Could we please close this issue and add any comments in #14?

[2016-04-04 17:12] shamindras commented on #14
I just added in @peterasujan's additional requests in the checklist above from #15.

I believe #15 can be closed now

[2016-04-04 17:15] shamindras commented on #14
Also from #15 @dylandaniels linked to this great [gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/forking-workflow) resource from Atlassian

[2016-04-04 17:16] peterasujan commented on #7
Comments from class:
- We'll need to chunk the observations into a grid. What would be an appropriate grid size (the authors use 1cm)?
  - First, we need to decide what our goal is. One example is classification, which gives us an obvious measure of goodness (i.e. accuracy).
  - Can plot and decide if things look too chunky or too jittery.
  - Can see if temporal patterns emerge.
- Other considera

[2016-04-04 17:45] peterasujan commented on #6
Comments from class:
- Think about known/expected cycles - time to digest, IS/AS cycle, etc.
- Investigate cycles longer than 24 hours
- Do cycles differ during the acclimatization period?
- Think about possible hypothesis tests (what is an appropriate null model?)

[2016-04-04 17:59] shamindras opened #35 "Revision of Overviews: Checklist"
As @jarrodmillman mentioned, for the revision of **Project Overviews** i.e. #6 #8, #7, #9, #11, #12 we should have a **standard template format/ checklist** for the overviews after reviews:

- [ ] Statement of Problem
- [ ] Statement of statistical problems (including how and why it maps to the Statement of Problem)
- [ ] Exploratory Analysis
- [ ] Data Requirements Description
- [ ] Methodology/

[2016-04-04 23:52] shamindras commented on #15
This is now combined into #14

[2016-04-04 23:52] #15 closed

[2016-04-05 22:36] jarrodmillman commented on #26
Everyone should be listed here:
https://github.com/orgs/berkeley-stat222/teams/capstone2016

[2016-04-06 00:06] shamindras commented on #26
Thanks @jarrodmillman . I've set this up but had a few issues with permissions. I spoke to GH staff and they mentioned that we need to do the following:

and **more specifically** the following:

I don't have access to the `stat-222` organisation. Could you please update this?

[2016-04-06 06:01] dylandaniels commented on #17
The docstring section is really lacking. I couldn't really use it for writing a function today. It should tell me what the standard is, not why I'd want to use docstrings.

See: https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt#docstring-standard

[2016-04-06 07:44] peterasujan opened #40 "Move *FLOW.md files to a sub-directory of `doc`"
The top-level folder is getting cluttered. Also, this will allow us to eventually have sphinx render these into html/pdf/etc.

[2016-04-06 09:03] jcpalumbo3 commented on #17
Added Alanna's doctesting section and fixed a couple mistakes in the documentation that Peter noticed. It'll need another round of revisions which will address Dylan's suggestions by either our group or our rightful successors, the glorious next-in-liners to the docflow legacy.

[2016-04-06 16:25] peterasujan opened #42 "Get to a passing Travis build"
Mostly failing due to style errors.

[2016-04-06 16:32] shamindras commented on #14
@peterasujan mentioned in gitter to include the following code:
https://github.com/thoughtbot/guides/tree/master/code-review

in CONTRIBUTING.rst. @jJasonWang - could you please add this link into CONTRIBUTING.rst and send a pull request to @aksam-ahmad ?

[2016-04-06 17:46] jJasonWang commented on #14
@shamindras, yeah. We probably should have a discussion and make sure everything suggested by people add to the CONTRIBUTING.rst. For example, the naming convention for feature branch and rebase with -i.

[2016-04-06 17:48] shamindras commented on #14
@jJasonWang - a few more things from the discussion today to add in this file:

- [ ] Change issue 15 back to 14 in the file
- [ ] add `git rebase -i` option as mentioned by @peterasujan
- [ ] change naming convention as mentioned by @dylandaniels to remove `your-Github-username` requirement and replace with a more useful branch name based on feature e.g. `performance-speedups`

[2016-04-06 17:51] peterasujan opened #46 "Add tools/README.md and document pre-commit hook"

[2016-04-06 17:55] peterasujan opened #47 "Add build/install target to makefile"
, which can then be a parent/dependency of `make test` and `make style`.

[2016-04-06 19:06] jarrodmillman commented on #46
This is just an FYI.

It looks like you committed your `pre-commit` hook with the execution bit already set.

[code]

This is probably why @dylandaniels didn't need to set the execute bit to get it to work for him when he just copied it to `.git/hooks`.

[2016-04-06 20:27] jcyhong commented on #12
In addition to the suggestions by Peter, the overview should include a more detailed description of the dataset. How many variables? What are the variables? What do the variables stand for? How frequent are the readings? How many strains? How many mice are involved? Date and location of the experiments? etc.

[2016-04-06 20:28] jcyhong commented on #8
To ensure consistency among the descriptions/overview of the subprojects, there should be the following six sections:
-Introduction
-Fundamental Questions
-Exploratory Questions
-Preliminary Tasks
-Additional Remarks
-References

The introduction section should include some background of the problem and one/two-sentences summarizing the objective of the subproject.
The fundamental questions sectio

[2016-04-06 20:28] jcyhong commented on #7
To ensure consistency among the descriptions/overview of the subprojects, there should be the following six sections:
-Introduction
-Fundamental Questions
-Exploratory Questions
-Preliminary Tasks
-Additional Remarks
-References

The introduction section should include some background of the problem and one/two-sentences summarizing the objective of the subproject.
The fundamental questions sectio

[2016-04-06 20:29] jcyhong commented on #9
To ensure consistency among the descriptions/overview of the subprojects, there should be the following six sections:
-Introduction
-Fundamental Questions
-Exploratory Questions
-Preliminary Tasks
-Additional Remarks
-References

The introduction section should include some background of the problem and one/two-sentences summarizing the objective of the subproject.
The fundamental questions sectio

[2016-04-06 20:29] jcyhong commented on #6
To ensure consistency among the descriptions/overview of the subprojects, there should be the following six sections:
-Introduction
-Fundamental Questions
-Exploratory Questions
-Preliminary Tasks
-Additional Remarks
-References

The introduction section should include some background of the problem and one/two-sentences summarizing the objective of the subproject.
The fundamental questions sectio

[2016-04-06 20:30] jcyhong commented on #10
To ensure consistency among the descriptions/overview of the subprojects, there should be the following six sections:
-Introduction
-Fundamental Questions
-Exploratory Questions
-Preliminary Tasks
-Additional Remarks
-References

The introduction section should include some background of the problem and one/two-sentences summarizing the objective of the subproject.
The fundamental questions sectio

[2016-04-06 20:31] jcyhong commented on #11
To ensure consistency among the descriptions/overview of the subprojects, there should be the following six sections:
-Introduction
-Fundamental Questions
-Exploratory Questions
-Preliminary Tasks
-Additional Remarks
-References

The introduction section should include some background of the problem and one/two-sentences summarizing the objective of the subproject.
The fundamental questions sectio

[2016-04-06 21:16] peterasujan commented on #46
Ah, that makes sense, thanks!

[2016-04-06 23:37] jarrodmillman commented on #42
See #49

[2016-04-06 23:37] #42 closed

[2016-04-06 23:38] jarrodmillman commented on #40
I would create `doc/dev` to move developer documentation into.  This will make it easier to organize things when we set up Sphinx.

[2016-04-06 23:40] jarrodmillman commented on #26
@shamindras : Do I still need to do anything? Or is this resolved?

[2016-04-06 23:49] shamindras commented on #26
@jarrodmillman - I believe we need to add 3rd party permissions for `mousetstyles` based on the links provided in my previous post. I can't seem to access the `berkeley-stat222` organisation.

Currently we can all chat but there is a nice feature where you can see all of the latest branches and commits on the right hand side of gitter screen which doesn't appear atm.

If you are really busy we cou

[2016-04-07 03:30] jarrodmillman commented on #19
See #42 and #50 .

[2016-04-08 00:41] jJasonWang commented on #14
I added a documentation for SSH key (see PR #52). We will discuss and update the CONTRIBUTING.rst tomorrow!

[2016-04-08 00:51] jJasonWang commented on #14
@peterasujan, do you have any good resources for `git rebase -i`. I saw the man page of it and some online resources, but I am still not sure what it's about. Thanks!

[2016-04-08 06:05] shamindras commented on #35
Hi All,

For each section of the checklist - Johnny had some excellent additional suggestions:

- [ ] **Statement of Problem**
Introduction section should include some background of the problem and one/two-sentences summarizing the objective of the subproject.
The fundamental questions section should highlight the fundamental questions we would like the subproject to address. State the main hypoth

[2016-04-08 15:19] sicihuang commented on #35
@jcpalumbo3 , @alannaiverson, and I are revising #12 overview of overview. Just to clarify, should it be more about the background of this project, steps we plan to take, the 6 sub-projects etc. rather than following the checklist above? @jcyhong

[2016-04-08 18:54] peterasujan commented on #14
@jJasonWang here are a couple:
https://help.github.com/articles/using-git-rebase/
https://robots.thoughtbot.com/git-interactive-rebase-squash-amend-rewriting-history

[2016-04-08 19:50] dylandaniels commented on #47
Close this out?

[2016-04-08 19:50] dylandaniels commented on #26
Close this out @shamindras ?

[2016-04-08 19:52] shamindras commented on #26
@dylandaniels - there is technically one set of permissions that needs to be changed to wrap this up. But `gitter` is usable so happy to close it and make the final change next week with Jarrod.

[2016-04-08 19:52] #26 closed

[2016-04-08 20:00] peterasujan commented on #47
Closed by #54.

[2016-04-08 20:00] #47 closed

[2016-04-08 23:05] #17 closed

[2016-04-08 23:06] dylandaniels commented on #18
closing--irrelevant at the moment.

[2016-04-08 23:06] #18 closed

[2016-04-08 23:11] peterasujan opened #56 "Fill out package information in setup.py"
- [x] license
- [x] description
- [x] other things?

See https://pythonhosted.org/an_example_pypi_project/setuptools.html#setting-up-setup-py

[2016-04-08 23:11] #19 closed

[2016-04-09 00:06] dylandaniels commented on #16
Tasks:

- [ ] **Task 1** Write a function which converts interval data into ```pandas.DataFrame```s.
- [ ] **Task 2** Write a function which converts (t,x,y) coordinate data into ```pandas.DataFrame```s.

**Task 1 Description**:
The intervals data can be found [here](https://github.com/berkeley-stat222/mousestyles/tree/master/mousestyles/data/intervals). We want to create one DataFrame for each su

[2016-04-09 00:06] dylandaniels commented on #16
@changsiyao what I need help with is above! If you could take one of the tasks, that would be great!

[2016-04-09 00:16] changsiyao commented on #16
@dylandaniels Sure, I can take the first task on the interval data.

[2016-04-09 00:32] changsiyao commented on #16
@dylandaniels Can we assume we know the number of strains, mouses and days? Or do I have to detect all the files in the directory and get those info from the file name?

[2016-04-09 00:36] dylandaniels commented on #16
@changsiyao You'll have to get that data from the file names.

[2016-04-09 01:12] changsiyao commented on #16
@dylandaniels Sure. Also, just making sure, did you make up the start/stop numbers? cuz I'm not getting those numbers...

[2016-04-09 01:19] dylandaniels commented on #16
@changsiyao yes, those are arbitrary.

[2016-04-09 01:43] changsiyao commented on #16
@dylandaniels Hey, I think I got the first task done, do you want me to do task 2 as well?

[2016-04-09 04:40] changsiyao commented on #16
Please check pull request #57
Wrote both functions.
@dylandaniels

[2016-04-09 21:22] shamindras commented on #14
@peterasujan - would you mind adding in a section on git hooks to CONTRIBUTING.rst and the `rebase -i` methods which you like to use?

I can review and MRG as required.

[2016-04-09 22:26] jarrodmillman opened #58 "Delete old branches"
It looks like there is a bunch of old branches left from before I locked down berkeley-stat222/mousestyles:  https://github.com/berkeley-stat222/mousestyles/branches

Please clean this up before Monday.  I randomly assigned someone to look into it, but feel free to pass it off to someone else.

[2016-04-09 22:55] jarrodmillman commented on #35
I would try to follow the outline where it makes sense.  But you are correct that the outline appears more appropriate for the subprojects than the overview.  Use your best judgment for now.  I would try to get started as soon as you can.  It will be easier to provide feedback on what you did than to pre-specify what your revision should look like.

[2016-04-10 02:13] peterasujan commented on #40
Resolved in #59.

[2016-04-10 02:13] #40 closed

[2016-04-10 03:38] peterasujan commented on #58
Done.

[2016-04-10 03:38] #58 closed

[2016-04-10 18:55] peterasujan commented on #14
@shamindras Yep, working on this now.

[2016-04-10 19:53] shamindras commented on #35
Based on gitter comments - just want to clear confusion:
#6 (**Project 4**) - is now correctly assigned to @richiefeng, @HaoLyuKrystal who have been working on it.
#10 (**Project 5**)- is assigned to @pttzty , @changsiyao @MengfeiJiang

@hduongtrong , @doutib @FengshiNiu - it seems that you do not have a project assigned to review.

[2016-04-10 21:21] changsiyao opened #61 "Add nose to requirement.txt"
Need to add `nose==1.3.7`
`numpy.testing.assert_raises` requires it.

[2016-04-10 22:06] boyinggong opened #64 "Review of TESTFLOW"
- [x] The link to `test_data_utils.py` on that page just goes the main repo
- [x] Remove old examples for numpy tests
- [x] Add instruction for the make test
- [x] Since we are using pytest for our testing framework rather than numpy tests. All documents about testing should be changed to pytest.
- [x] Add pytest examples rather than the numpy examples. We are using pytest

[2016-04-10 22:10] boyinggong commented on #64
@jarrodmillman @dylandaniels @peterasujan @shamindras We're going to refine the testing part. Is there any concerns or suggestions for the testing? Thanks.

[2016-04-10 22:37] shamindras commented on #64
@boyinggong - as per the gitter discussion it may be helpful to change **all** of the `numpy` examples to `pytest`

[2016-04-10 22:54] #61 closed

[2016-04-10 22:54] shamindras commented on #61
We are now switching entirely to `pytest` based tests not `nose`

[2016-04-10 23:04] dylandaniels commented on #46
@peterasujan is this done?

[2016-04-10 23:51] peterasujan commented on #46
In progress. I'm doing this along with https://github.com/berkeley-stat222/mousestyles/issues/14#issuecomment-207855457.

[2016-04-11 14:55] jarrodmillman commented on #64
I wouldn't spend too much time adding examples to the documentation.  It will be much more useful to add examples to the code.

[2016-04-11 16:34] boyinggong commented on #12
Suggestions from class discussion: add data description section.

[2016-04-11 17:41] peterasujan opened #73 "Add git lg command to GITFLOW"
See: https://github.com/peterasujan/dotfiles/blob/master/gitconfig#L5
(this is just one example)

[2016-04-11 18:31] peterasujan opened #74 "Add code review guidelines somewhere (CONTRIBUTING.rst?)"
This is a really nice set of guidelines for code review:
https://github.com/thoughtbot/guides/tree/master/code-review

[2016-04-11 19:50] shamindras commented on #74
@peterasujan - I can add these into CONTRIBUTING.rst

Is there anything else to put in there i.e. we can make it a larger commit.

[2016-04-11 19:53] shamindras commented on #73
@peterasujan - I can add this in however do you mean CONTRIBUTING.rst?

In this case - could we close this issue and merge this task into #74?

[2016-04-11 20:03] peterasujan commented on #73
Yes, I forgot we didn't have a separate file for that. However, I'm not sure this is important enough to exist in the main CONTRIBUTING file. It might make sense to create a new file with more advanced git tips and other non-essential information.

[2016-04-11 20:04] peterasujan commented on #74
Maybe just do a pass over the the whole file for clarity and see if anything else is missing?
I agree that this could be done at the same time as #73.

[2016-04-11 21:07] hduongtrong opened #75 "Clean strain_classification.py"
We want to clean up strain_classification.py file provided to us by the researchers. We should have functions to

1. [ ] load_data function that return the X, y array
2. [ ] report_accuracy function that run a model and report performance

[2016-04-12 05:01] #46 closed

[2016-04-12 05:27] peterasujan commented on #14
@shamindras I completed those in #70. There is one checkmark left at the top - is this still something we want to address?

[2016-04-12 22:28] #20 closed

[2016-04-13 00:01] #73 closed

[2016-04-13 00:03] #74 closed

[2016-04-13 06:43] doutib commented on #75
@jarrodmillman can we have one python script to load the data and another python script to perform classification? Or are we constrained to have only one script for the whole project?

[2016-04-13 16:27] pigriver123 opened #83 "Need to make a variable glossary"

[2016-04-13 16:37] jcpalumbo3 commented on #83
Refer to the glossary started in the [Overview](https://github.com/berkeley-stat222/mousestyles/blob/master/doc/problem/overview.md) section.

[2016-04-13 16:47] peterasujan opened #84 "Write function to merge <x, y, t> data frame with AS/IS intervals"
This is important for several of the sub-projects.

[2016-04-13 17:30] peterasujan opened #85 "Consider combining Projects 1 and 3"
This is (probably) a good idea, but let's delay actually making the change until after we've run it by the Tecott lab.  There may be something we are missing that would make us change our mind.

[2016-04-13 17:47] peterasujan opened #86 "Fix python3 build"
Failing due to python2 features (i.e. `xrange`) in demo scripts.

[2016-04-13 19:52] jarrodmillman commented on #86
Also add `__future__` imports and convert print statements into print function calls.

[2016-04-13 19:55] jarrodmillman commented on #56
This isn't super pressing and I have a couple of ideas I want to think about before finalizing this.  I should be able to revisit this next week.

[2016-04-13 19:58] jarrodmillman commented on #83
It also may make sense to create an index.  That way anyone who is interested in when we use the word in the report can find a link or page number.  It think this should be easy to do in Sphinx and will look into it.

[2016-04-13 21:21] pigriver123 commented on #86
I have done this in pull request#89. Please have a look

[2016-04-14 01:45] #86 closed

[2016-04-14 04:40] #64 closed

[2016-04-14 15:17] doutib opened #97 "Include all requirements"
@jarrodmillman

[2016-04-17 04:08] shamindras commented on #97
@doutib - what is required here? Is there anything I can assist with?

[2016-04-17 04:15] shamindras commented on #85
@peterasujan - I agree that we should wait until after Monday. After reading through the key question I have for the project 3 team is whether IS/ AS is **given** or whether it is to be **predicted**?

In project 1 we are definitely assumed that IS/ AS are rule based classification from observational data that are provided and **not** predicted as we can see from the data

Project 3 seems to want

[2016-04-17 18:24] dylandaniels commented on #85
I don't think that "predicting" AS/IS makes much sense. These are terms with fairly strict definitions--a mouse is in AS when it's moving/drinking/feeding, and is in IS otherwise. Unless by predicting, you're talking about a time-series model whereby we predict when a transition from AS --> IS or IS --> AS occurs, it's an inappropriate use of an HMM.

I think the discussion we had in class on Wedn

[2016-04-17 18:26] dylandaniels commented on #75
@doutib No--there's no limit on number of scripts. You should divide the code between files so that they create logical partitions of functionality.

[2016-04-17 18:28] #16 closed

[2016-04-17 18:30] dylandaniels opened #98 "Convert hcm_data_begin script to use new data loaders"
The file needs to be modified to use the new data format.

[2016-04-17 22:08] shamindras opened #99 "Update Project 1 Behavioural Model Overview with tables/ formulae"
Need to include better description of tables and formulae to use in #8 for the [overview document](https://github.com/berkeley-stat222/mousestyles/blob/master/doc/source/report/behavior.rst)

[2016-04-18 00:58] doutib commented on #97
Yes it is related to this file, basically add missing libraries (e.g. Scikit learn)

[2016-04-18 01:01] shamindras commented on #97
@doutib - I see. Please create a new branch > then new PR to update the requirements for the specific version of sckit learn you require.

Once the PR is created just tag @jarrodmillman know and he can review/ MRG it.

If you have already created the PR, just tag @jarrodmillman in it for review

[2016-04-18 01:27] HongfeiZhao commented on #83
@jarrodmillman , I am working on adding variable description. Do you know the meaning of M_AS files under intervals file? I think it may refers to the start and end point of movement in AS. Also, do you know the meaning of C_idx_HB files under txy_coords files.

[2016-04-18 01:51] dylandaniels commented on #83
@HongfeiZhao I'm still unsure what M_AS means. It's one of the questions I was going to ask the Tecott Lab group tomorrow.

As for C_idx_HB--that's a boolean variable that indicates whether the mouse was in the home base or not. To see how all the files in that folder interact, it's helpful to look at/play around with the mousestyles.data.load_intervals() function:

https://github.com/berkeley-sta

[2016-04-18 01:54] HongfeiZhao commented on #83
Thanks, @dylandaniels , it's helpful!

[2016-04-18 06:13] lynnzhao92 commented on #85
@shamindras @dylandaniels @peterasujan Thank you for reminding us this issue. We will definitely ask the Tecott Lab during Tomorrow's discussion. We should figure out the purpose/expectation of this subproject "Dynamics of AS/IS" first and then go further to the actual analysis. Thank you for all the advices.

[2016-04-20 13:29] harryh1993 opened #105 "Update Project 3 Overview and things to do (after discussion with Chris)"
After discussion with Chris this Monday, we need to settle down our tasks in details so that we could begin the parameter estimation and model building. Here are the things that are on my mind:

- [x] Determine the stages for the Markov Chain. We need to decide whether to contain the AS as a state in our model or should we only contain other visible states and label them as AS
- [x] Estimate the g

[2016-04-20 16:11] peterasujan opened #106 "Add time interpolation to data loader function"
<t, x, y> table only records a measurement when movement is sufficiently large (>1cm). Evenly-spaced time measurements are needed for several subprojects, so we should fill in missing time values.

[2016-04-20 17:43] harryh1993 commented on #105
- States: F, W, AS_O, IS
- Estimation:
 - divide into small intervals per mouse per day
 - calculate the matrices
- Simulation:
 - Model Evaluation
 - "Stationary Distribution": proportion of time in each strain of mouse; compare the difference to get an inference of the difference in their behavior

[2016-04-20 18:03] dylandaniels opened #107 "Data Questions"
Hi Chris (@qualiaphile),

Thanks so much for meeting with us this past Monday! We had a couple questions about the data and wanted to see if we could get access to some additional data:

1) We currently don't have numbers for how much food/water each mouse eat/drank on each day. Would you be able to send us this data so we can incorporate this into our analysis?

2) We're a bit confused by the val

[2016-04-21 00:00] doutib opened #108 "Project 6: add functions to extract the distances (for a given delta t)."
I am on it!

[2016-04-21 03:06] doutib opened #110 "Project 6: add plots to distribution file."

[2016-04-24 19:13] peterasujan opened #115 "PLANNING: Behavioral model"
@shamindras @dylandaniels
Here is my initial spec for the generic function (to be applied after any pre-processing):

[code]
Feel free to add more below, or edit this top post.

[2016-04-24 20:54] qualiaphile commented on #107
hi all, so let's see if i can help:

1) this can be calculated from the 1921 x 9 Food/Water feature matrix by summing over the 11 time bins for the day.

2) (short answer: no real meaning).  every day there was a "maintenance period" of about (but different for each MD) ~ 2hrs.  the recording start and stop times describe when the system of sensors (F/W,etc) gets turned back on and when it gets sh

[2016-04-24 22:43] boyinggong opened #116 "TASK LIST: Project 4 Ultradian analysis"
- Aggregate the interval data based on n-minute time intervals, return a time series. (standardize to per hour data)
[code]
- Period detectiom: Lomb-Scargle Algorithm
    - Reference
[Comparison of Lomb-Scargle implementation in Python](https://jakevdp.github.io/blog/2015/06/13/lomb-scargle-in-python/)
[Generalized vs Standard Lomb-Scargle in astroML package](http://www.astroml.org/paper_figures/C

[2016-04-24 23:33] dylandaniels commented on #107
Thanks for the response... is there any way to recover time of day, then? @qualiaphile

[2016-04-24 23:51] qualiaphile commented on #107
the start time is seconds from midnight.

[2016-04-25 00:09] boyinggong commented on #116
@jarrodmillman @peterasujan @dylandaniels @shamindras We want to create a branch named `ultradian` under berkeley-stat222/mousestyles, we don't think we have access to do that. Could you please do that for us? Then we may push our changes on that branch.

[2016-04-25 00:13] shamindras commented on #116
@boyinggong - I'm not quite sure what you mean by not having >access to do that?

Generally the branch is created locally and pushed to your fork and then a pull request is submitted. And the branch is then created for you to make relevant changes based on code review. Sorry if I am misunderstanding your request.

I am on `gitter` at the moment if you want to clarify anything 😄

[2016-04-25 05:11] #8 closed

[2016-04-25 05:27] dylandaniels commented on #115
[code]

[2016-04-25 05:56] jJasonWang opened #117 "load_movement function in data loader"
I found that the variable `isHB` is wrong. The original numpy file contains the **non home base** boolean array where _True_ means that the coordinates are not home base. Hence, we need to reverse it to get the boolean array for home base where _True_ means that it is home base.

The following picture is what the difference for first 5 observation
![ishb](https://cloud.githubusercontent.com/assets

[2016-04-25 06:14] boyinggong commented on #107
The assumption is that, each mouse drink/eat at a constant rate, which means the water/food consumption is proportional to the time they drink/eat. To obtain the water/food consumption in a given interval (during which the drinking/eating happens), we just use `the total consumption/total drinking or eating time * interval length`. Is that right? Thanks.  @qualiaphile

[2016-04-25 07:33] qualiaphile commented on #107
to get the total food (or water) you just sum the 11 time bins of food (or water) numbers in a given day.  for Food this gives you grams [g] and for Water this is in milligrams [mg].  to get the food in a given eating interval during a mouse-day (MD) you multiply this total for the day by the fraction of total eating time in the MD occurring in this feeding interval.

[2016-04-25 16:16] #117 closed

[2016-04-25 16:19] dylandaniels commented on #115
Something we need to do is add a data loader for getting the start time and end time for each day. I'll create a function for that today.

[2016-04-25 16:21] shamindras commented on #115
[code]

[2016-04-25 19:02] #35 closed

[2016-04-25 19:02] #12 closed

[2016-04-25 19:02] #11 closed

[2016-04-25 19:03] #10 closed

[2016-04-25 19:03] #9 closed

[2016-04-25 19:03] #7 closed

[2016-04-25 19:03] #6 closed

[2016-04-25 19:03] dylandaniels commented on #83
@HongfeiZhao what's the status on this?

[2016-04-25 19:04] #14 closed

[2016-04-25 19:04] dylandaniels commented on #56
@shamindras is this done?

[2016-04-25 19:04] #85 closed

[2016-04-25 19:05] dylandaniels commented on #97
@shamindras @doutib what is this issue about?

[2016-04-25 19:06] #99 closed

[2016-04-25 20:14] doutib commented on #97
@dylandaniels This is about making sure that all the requirements are fulfilled. Even though I think everything is in the requirement.txt file now, I think we should keep the issue until the end of the project since the content of the file depends on the code we will write until then.

[2016-04-25 20:56] shamindras commented on #56
@dylandaniels - this is with @jarrodmillman per his comment above.

I have formally assigned back to him for his review.

[2016-04-25 20:58] shamindras commented on #97
@doutib - If your requirements are now included let's close this specific issue.

We can re-open a new issue (with a new associated PR) if there are additional requirements to include.

[2016-04-25 20:58] #97 closed

[2016-04-27 00:46] jJasonWang opened #122 "Tasks List for Exploration & Path Diversity"
Currently working on:
- [x] Revise the path.rst (change the purpose of the project and add exploration plot)
- [x] function that outputs path start indices and end indices
- [x] function that filters out the paths based on time spending on the paths
- [x] function that calculates the length and average speed of a path
- [x] function that calculates the acceleration during paths
- [x] function that

[2016-04-27 16:25] MengfeiJiang opened #125 "Task list: Project 5 - Classification and Clustering"
1. Clustering:
- [ ] Plot script
- [ ] Model script
- [ ] Test
- [ ] Documentation

2. Classification:
- [ ] Plot script
- [ ] Model script
- [ ] Test
- [ ] Documentation

Feel free to add anything. @pttzty @changsiyao @ye-zhi @lizhua @lichenzhi

[2016-04-27 16:31] pttzty commented on #125
Sure, I will take plot script and a part of the model script in clustering.

[2016-04-27 16:32] changsiyao commented on #125
Maybe wrap something into functions, like when fitting model.

[2016-04-27 16:45] z357412526 opened #126 "Task list: Project 6 - Power Laws & Universality"
Here is our project workflow for rest of this week and the rrr week.

1. Write function for estimating parameter by MLE
 - [x]  Truncated power law distribution.
 - [x]  Truncated exponential distribution.
2. Measure the goodness of fit
 - [ ] Figure out how to implement K-S test on truncated distribution.
 - [ ]  Pearson Chi-sq is another potential fitness test.
3. K-means Clustering
 - [ ]  Writ

[2016-04-27 16:58] shamindras opened #127 "Folder structure for projects"
Need to create a folder structure for packages within [CONTRIBUTING](https://github.com/berkeley-stat222/mousestyles/blob/master/CONTRIBUTING.rst) as discussed with @peterasujan , @jarrodmillman @jcyhong

[2016-04-27 17:45] #127 closed

[2016-04-27 20:03] jarrodmillman opened #133 "clean-up plot example"
Feel free to assign this to anyone in your team, I just assigned it to @alannaiverson to make sure someone was initially responsible.

This file needs to be cleaned up:
https://github.com/berkeley-stat222/mousestyles/blob/master/doc/source/report/plots/heat_map_0_0_0.py

I would imagine something like this (with my comments removed would be what you want):

[code]

You will need to made actually i

[2016-04-27 21:02] HongfeiZhao commented on #83
I am not sure what variables should I add? It seems there are explanation for 'AS' and 'IS'. Should I give a description for all the data variables like M_AS, C_idx_HB? @dylandaniels

[2016-04-28 00:54] alannaiverson commented on #133
I thought simply having the script (that now uses the data loader functions) was sufficient, rather than creating a function to produce a single plot? What am I missing? I edited the initial script on my branch to use the data loader functions correctly, too.

[2016-04-28 06:53] peterasujan commented on #115
@dylandaniels @shamindras I pushed an initial attempt to dylan's fork if you guys wouldn't mind taking a look.

[2016-04-29 17:22] HongfeiZhao opened #139 "Project Dynamics Pattern: create time matrix"
create time matrix.

[2016-04-29 21:05] peterasujan commented on #115
@jarrodmillman weird place to put this question, but what are your thoughts on relative imports (e.g. https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/svm/classes.py#L8) vs. absolute, like `from mousestyles import data`.

[2016-05-01 00:40] changsiyao opened #141 "Add data loader for classification project"
Classification project needs a data loading function that returns a data frame of 1921 mousedays by features of each two-hour bin.
For example, instead of having ASProbability as 1 feature, we need 11 features ASProbability_0, ASProbability_2, ... ASProbability_20.

strain | mouse | day | ASProbability_0 | ASProbability_2 | ... | ASProbability_20
--------|----------|------|----------------------|-

[2016-05-01 22:58] harryh1993 opened #144 "Project 3: MLE estimation function for MC transition matrix"
create the matrix to perform the mle estimation of the transition matrix of a markov chain (discrete, homogeneous)

[2016-05-03 18:17] changsiyao commented on #141
Issue addressed in PR #142 .

[2016-05-03 18:17] #141 closed

[2016-05-03 18:20] changsiyao commented on #125
@MengfeiJiang @pttzty So we are not using the 2-hr bin features for clustering, is that right?
@ye-zhi @lizhua @lichenzhi New data loading function for 2-hr bin features is merged, please continue classification using this new data loading function. Classification performs better using the new data structure.

[2016-05-03 18:24] pttzty commented on #125
@changsiyao Mengfei and I are not doing 2-hour bin features because a large number of features will make the high-dimension curse problem in clustering. since we are using the euclidian distance

[2016-05-03 18:42] doutib opened #155 "Add distribution setup in mousestyles/"
Add directory for subproject 6: power law and density estimation.

[2016-05-04 15:53] z357412526 commented on #126
@lunadadada @CenzhuoYao @FengshiNiu @hduongtrong @doutib
-Guys!
If we accomplish something, please cross them out here. If there is a change of the plan, just feel to revise the original issue.

Great job so far. Thank you!

[2016-05-04 18:39] #75 closed

[2016-05-05 19:13] Chenyu-Renee opened #160 "Project 3: Monte-Carlo Markov Chain simulation function."

[2016-05-05 20:02] #139 closed

[2016-05-05 20:35] #144 closed

[2016-05-05 21:59] peterasujan commented on #107
@qualiaphile I noticed that in the `all_features_mousedays_11bins.npy` file, most mice have 12 days of data, numbered 5-16. It looks something like this:
[code]

However, in the `txy_coords` directory, the numbering is 0-11.
[code]

I just wanted to verify my intuition that days 5-16 in the earlier data correspond to 0-11 in the `txy_coords` directory. Is that correct, or is something else going o

[2016-05-06 03:16] HongfeiZhao commented on #83
Please close the issue, it has been addressed @pigriver123

[2016-05-07 00:08] jarrodmillman opened #164 "plot distances for report"
@doutib I  merged pull request #119 .  I tried to build the report and noticed that you hadn't included your plot in it.  Then when I started to add the plots to the report (see #163 ), I noticed that the plotting code takes too long to run.  Could save the data you want to plot?  Then you could just load and plot it.  Just make sure to include the code you use to generate the data.

When you add

[2016-05-07 00:39] doutib commented on #164
Yes I will do this, you are right it is a bit slow. For the plots the two styles can be used together, I think this is more aesthetic in this case.

[2016-05-07 02:27] togawa28 commented on #122
- [ ] write a function to remove duplicated rows.

Since we don't want to see some duplicated rows (i.e. same x,y-coordinates with different timestamps) in movement objects, I think we need to write a function to remove those rows. It seems to be a very trivial problem as we see only at most 10 such rows in one movement, but if we leave them, `compute_angles` function returns `NaN` for such rows b

[2016-05-07 08:41] changsiyao commented on #125
I'm still a little confused what we should output in our classification models. My current idea is to at least output our model, parameter and CV performance measures. But should we also output the predictions we make? If so, our functions need to take in train_x, train_y and test_x set separately. (Currently, we are randomly splitting data into training and test inside our function, which doesn't

[2016-05-07 09:23] jcpalumbo3 opened #165 "Task List: Final revision of project reports"
Alanna, Sici, and I will do a final edit of the project reports towards the middle of this coming week. Before we begin editing a project, we will give that group a heads up in case they have any final touches they'd like to add.

- [ ] Overview of the Project
- [ ] Project 1: Behavior
- [ ] Project 2: Path
- [ ] Project 3: Dynamics
- [ ] Project 4: Ultradian
- [ ] Project 5: Classification
- [ ]

[2016-05-07 18:18] wyshi opened #166 "Project 3: get scores for evaluation of Monte-Carlo simulation"
We need to choose time intervals to do simulations. And in order to get the best time interval, we need to evaluate the performance of the simulation. So we need  a function to get the score, and because the data contain more inactive states than drink states, we need to assign different weights for various states.

[2016-05-07 18:38] doutib commented on #164
@jarrodmillman should I save the plot instead?
If not, how should I save the data: can I use numpy.save in a python script somewhere?

[2016-05-09 03:00] togawa28 commented on #122
- [ ]  plot function that visualizes the path

@jJasonWang, what function do you intend in this check box? What @alannaiverson made is what you need? Or do you mean the function to visualize a path (or several paths) in an original form as followings?
![example_plot_one_path](https://cloud.githubusercontent.com/assets/14063064/15102696/4d29a68e-1557-11e6-9711-b462e718395f.png)
![example_plot_sever

[2016-05-09 05:20] jJasonWang commented on #122
Yeah, it is the function create the plot like you show above. Should we wrap it into a function? Originally, I think it might be great if we can add some rectangle to illustrate the area for home, water, and food. However, it may not be necessary.

[2016-05-09 05:28] togawa28 commented on #122
I've already written a draft of such function and need it discussed and reviewed by someone, so I can create another pull request. Could we move to the pull request and keep discussing some additional functionalities such as what you just suggested?

[2016-05-09 06:37] jJasonWang commented on #122
Sure, I can review the pull request and see what functionality will be good!

[2016-05-09 17:17] togawa28 opened #170 "Project 2: Function to visualize paths in the original form"
Besides the plots for key features of paths (see the pull request #162) we need a function to plot paths in their original form, which would look like:
![example_plot_several_paths](https://cloud.githubusercontent.com/assets/14063064/15121086/a0dcfdd2-15cd-11e6-8b75-41a0e4ac0677.png)

This issue was originally suggested in #122 but is separated since we should discuss a bit more about additional f

[2016-05-09 20:57] doutib opened #175 "Mann–Whitney U test on distances"
Perform MWW non parametric tests over distributions for distances.

[2016-05-10 01:42] jJasonWang commented on #170
Have you tried to color the path based on the speed? I think it would be hard to find the pattern by it. While we can change the width of the line, I am not sure how its effect will be.

For my idea, I found that it would be hard to set the exact area for home, water, and food.

[2016-05-10 03:33] togawa28 commented on #122
I've started formalizing the functions for advanced features and writing those test functions. The newly added features are:
1. area of the rectangle spanned by path
2. radius and center angles in path
3. area covered by path
4. distance between the start and end points in path
Since the amount of necessary works is overwhelming my capacity (especially in writing test functions,) I don't think I c

[2016-05-10 03:48] togawa28 commented on #170
Your 2 points are fair enough @jJasonWang: I haven't tried using gradient, and the purpose of such functionality might be a bit unclear.

Right now we can modify the width of the line by controling `alpha`. So do you think we are ready to merge?

[2016-05-10 05:20] jJasonWang commented on #170
I think the `alpha` control the transparency of the line, right? We can add an argument for `linewidth`. Then it should be ready to merge.

[2016-05-10 05:46] togawa28 commented on #170
Good point. I just modified.
Just clarification, we don't have to test the input of this function, do we?

[2016-05-10 06:03] jJasonWang commented on #170
We don't have to test the input of the plot function. See the reason in #143.

[2016-05-10 06:15] togawa28 commented on #170
Thanks @jJasonWang! I missed this pull request but it makes sense now.

[2016-05-11 05:34] togawa28 commented on #170
I close this issue since the pull request #172 was merged.

[2016-05-11 05:35] #170 closed

[2016-05-11 06:41] #108 closed

[2016-05-11 06:42] #110 closed

[2016-05-11 21:26] qualiaphile commented on #107
Yes, the numbering 5-16 is actual days in the experiment, whereas 0-11 is them more conveniently relabled. Hope that Helps.

[2016-05-12 20:15] shamindras commented on #115
List of stuff TODO:

- [ ] fix data sort() warning in the `data loader` functions
- [ ] Piazza announcement for Day `5 --> 0` change
- [ ] Add units for output
- [ ] Ask Jarrod to MRG
- [ ] Finish report

[2016-05-12 21:21] #83 closed

[2016-05-13 06:18] #175 closed

[2016-05-13 06:19] doutib commented on #164
@jarrodmillman Thanks for merging!
We can close this issue now.

[2016-05-13 17:28] YZhouEntheos opened #192 "Suggestions from meeting"
- cite
- setup.py
- work text
- visualization

@boyinggong @HaoLyuKrystal

[2016-05-13 19:01] FengshiNiu opened #193 "Kernel smoothing and relative distribution for the power laws project"
- [x] Write the function for naive kernel density estimation
- [x] Write the function for kernel estimation for nonnegative random variables using truncated normal density
- [x] Add comparison between relative density (referencing best-fit power distribution) and uniform distribution in the report

[2016-05-14 16:50] #115 closed

[2016-05-14 16:50] #84 closed

[2016-05-14 18:08] #164 closed

[2016-05-14 18:09] #56 closed

[2016-05-14 18:09] jarrodmillman commented on #98
@dylandaniels It looks like no one is using this file.  Is it OK to delete the file and close this?

[2016-05-14 18:10] jarrodmillman commented on #105
@harryh1993 Is it OK to close this?

[2016-05-14 18:10] jarrodmillman commented on #106
@peterasujan Should we close this?

[2016-05-14 18:11] jarrodmillman commented on #107
@peterasujan Is this ready to close?

[2016-05-14 18:11] #133 closed

[2016-05-14 18:12] jarrodmillman commented on #126
@z357412526 Should this issue be closed?

[2016-05-14 18:12] #155 closed

[2016-05-14 18:13] jarrodmillman commented on #165
@jcpalumbo3 Should we close this?

[2016-05-14 18:13] #160 closed

[2016-05-14 18:14] harryh1993 commented on #105
Yes please close it

[2016-05-14 18:15] #116 closed

[2016-05-14 18:23] #125 closed

[2016-05-14 18:50] dylandaniels commented on #98
Yeah, I'll take care of that now!

[2016-05-14 18:50] #165 closed

[2016-05-14 18:56] dylandaniels commented on #106
Peter and I discussed this and it turned out this wasn't necessary because of different needs for different projects. I'm closing this now.

[2016-05-14 18:56] #106 closed

[2016-05-14 18:56] #107 closed

[2016-05-14 19:00] dylandaniels commented on #98
@jarrodmillman Nevermind, looks like you already deleted it here: 7e6e555ede6

[2016-05-14 19:00] #98 closed

[2016-05-14 20:16] shamindras commented on #193
@FengshiNiu - can this issue be closed now?

[2016-05-14 20:48] #192 closed

[2016-05-14 20:48] #166 closed

[2016-05-14 21:34] CenzhuoYao commented on #126
@jarrodmillman We have finished all the problems listed there. It can be closed now. Thanks.

cc: @z357412526 @lunadadada @FengshiNiu @hduongtrong @doutib

[2016-05-14 21:47] FengshiNiu commented on #193
Sure. All done! Pull request #199 has been merged

[2016-05-14 21:47] #193 closed

[2016-05-14 21:49] #105 closed

[2016-05-14 22:46] #126 closed

[2016-05-14 23:48] #122 closed